.cm-s-pst.CodeMirror
  background #131313
  color #b9b6b0
  font-family 'Inconsolata', monospace
  font-size 14px

.cm-s-pst div.CodeMirror-selected {background: #41323f !important;}
.cm-s-pst .CodeMirror-gutters {background: #191919; border-right: 0px;}
.cm-s-pst .CodeMirror-linenumber {color: #776e71;}
.cm-s-pst .CodeMirror-cursor {border-left: 1px solid #8d8687 !important;}

.cm-s-pst span.cm-comment {color: #525252;}
.cm-s-pst span.cm-atom {color: #815ba4;}
.cm-s-pst span.cm-number {color: #815ba4;}

.cm-s-pst span.cm-property, .cm-s-pst span.cm-attribute {color: #48b685;}
.cm-s-pst span.cm-keyword {color: #ef6155;}
.cm-s-pst span.cm-string {color: #fec418;}

.cm-s-pst span.cm-variable {color: #48b685;}
.cm-s-pst span.cm-variable-2 {color: #06b6ef;}
.cm-s-pst span.cm-def {color: #f99b15;}
.cm-s-pst span.cm-bracket {color: #b9b6b0;}
.cm-s-pst span.cm-tag {color: #ef6155;}
.cm-s-pst span.cm-link {color: #815ba4;}
.cm-s-pst span.cm-error {background: #ef6155; color: #8d8687;}

.cm-s-pst .CodeMirror-activeline-background {background: #4D344A !important;}
.cm-s-pst .CodeMirror-matchingbracket { text-decoration: underline; color: white !important;}
