global-reset()

@import './cm-pst-theme'

body
  background #222

.editor
  position absolute
  left 0
  right 50%
  height 100%

.renderer
  position absolute
  left 50%
  right 0
  height 100%
  background #f00
  cursor move

code-mirror, pst-renderer
  width 100%
  height 100%
